body {
    margin: 0;
    background-color: #1b244a;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

/* .inner-container{
    text-align: center;
} */

h3{
    color: white;
    margin-bottom: 5px;
    font-size: 30px;
}


.highlight-screen{
    height: 80px;
    width: 120px;
    background-color: #080001;
    margin: 0px 0px 10px;
    text-align: center;
}

.highlight-screen h4{
    margin-top: 0px;
    font-size: 35px;
    padding-top: 20px;
    color: #F94F6D;
}

.btn{
    background-color: #1b244a;
    border: #9aabd8 solid 2px;
    border-radius: 3px;
    padding: 5px 8px;
    color: #9aabd8;
}

#start-btn{
    display: block;
    width: 40%;
    margin: 20px auto;
    background-color: white;
    color: #080001;
    font-weight: bolder;
}